extends layout
block content
  main
    .container
      .row.mt-5
        .col-md-7.mb-3
          img(src="https://i1.wp.com/pakobserver.net/wp-content/uploads/2017/08/Road-Repair.jpg?fit=636%2C421&ssl=1" class="img-thumbnail")
        .col-md-5.my-auto.border.p-5
          h1 Login
          hr
          form(action="/login" method="POST")
            .form-group
              label(for="username") Email address
              input#username.form-control(type="email" name="email" placeholder="Enter email")
            .form-group
              label(for="password") Password
              input#password.form-control(type="password" name="password" placeholder="Password")
            button.btn.btn-primary(type="submit" class="d-inline-block") Submit