extends layout
block content
  main.container
    .signup.mx-auto.border.p-5.my-3
      h1 Sign Up Here
      hr
      form(action="/signup" method="POST")
        div.form-group
          label(for="fname") First Name
          input#fname.form-control(type="text" name="fname" placeholder="First Name")
        div.form-group
          label(for="lname") Last Name
          input#lname.form-control(type="text" name="lname" placeholder="Last Name")
        div.form-group
          label(for="password") Password
          input#password.form-control(type="password" name="password" placeholder="Password")
        div.form-group
          label(for="email") Email
          input#email.form-control(type="email" name="email" placeholder="abc@example.com")
        div.form-group
          label(for="mobile") Mobile
          input#mobile.form-control(type="text" name="mobile" placeholder="Mobile")
        div.form-group
          label(for="userType") SignUp As
          select#UserType.form-control(name="userType")
            option(value="user") User
            option(value="contractor") Contractor
        button.btn.btn-primary(type="submit") Register