body {
    background: #4d4c4c;
    color: white;

    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

img {
    width: 100%;
}

/* FONTS */
.fa-road {
    font-size: 2rem;
}
.fa-exclamation-circle{
    font-size: 300px;
}