body {
    /* background: #4d4c4c; */
    /* color: white; */
    background: #1D2B64;
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);
    background: linear-gradient(to right, #F8CDDA, #1D2B64);
}

img {
    width: 100%;
}

.signup{
    width: 40%;
    min-width: 300px;
}

.fa-road {
    font-size: 2rem;
}
.fa-exclamation-circle{
    font-size: 300px;
}

hr {
    overflow: visible;
    height: 30px; 
    border-style: solid; 
    border-color: black; 
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}